<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="flash">
      <%= flash.notice %>
    </p>
    <div id="nav">
      <%= link_to "All Articles", articles_path %>
      <%= link_to "All Tags", tags_path %>
      <%= link_to "Most Popular", popular_articles_path %>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path %>
        <%= "Logged in as #{current_user.email}" %>
        <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Create New Account", new_author_path %>
      <% end %>
    </div>
    <div id="container">
      <div id="content"
        <%= yield %>
      </div>
    </div>
  </body>
</html>
